.buttonContainer {
  margin: 10px;
  width: fit-content;
  color: #737d8f;
  font-size: 13px;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-weight: 400;
}
.popup{
    width: 500px;
}
.formdata{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
.formdata > form > input {
height: 20px;
width: 200px;
margin: 10px;
}
.formdata > form > textarea {
  
    width: 300px;
    
    }
